{% trans_default_domain 'FOSUserBundle' %}


	<!-- Page Content -->
	<div class="container">
		<!-- Page Heading/Breadcrumbs -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Espace Abonné
					<small></small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="">Accueil</a>
					</li>
					<li class="active">Editer Groupe</li>
				</ol>
			</div>
		</div>

		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="jumbotron">

					{{ form_start(form, { 'action': path('fos_user_group_edit', {'groupName': group_name}), 'attr': { 'class': 'fos_user_group_edit' } }) }}
					{{ form_widget(form) }}
					<div>
						<input type="submit" value="{{ 'group.edit.submit'|trans }}" />
					</div>
					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
