
{% extends ":backend:sidebar.html.twig" %}

{% block title %}
	Aide - {{ parent() }}
{% endblock %}
{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('esf_espace_abonne_monProfil') }}">Home</a></li>
		<li class="active">FAQ</li>
	</ol>
{% endblock %}

{% block Content %}
	Hello World!
{% endblock %}
